<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @act.number %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @act.integer %>
</p>

<%= link_to 'Edit', edit_act_path(@act) %> |
<%= link_to 'Back', acts_path %>
